.testimonials{
    display: flex;
    background-color: black;
    @media (max-width:421px) {
       flex-direction: column;
      }
}
.teright{
    flex: 0.5;
    display: flex;
    flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.teleft{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    img{
        width: 463px;
        @media (max-width:421px) {
            width: 223px;
           }
    }
}
.terightwrapper{
    width: 80%;

}
.teone{
    margin-bottom: 34px;
    font-size: 25px;
    @media (max-width:421px) {
        margin-bottom: 10px;
        font-size: 15px;
       }
}
.tetwo{
    margin-bottom: 23px;
    @media (max-width:421px) {
        margin-bottom: 10px;
        font-size: 11px;
       }
}
.tethree{
    margin-bottom: 34px;
    @media (max-width:421px) {
        margin-bottom: 18px;
        font-size: 15px;
       }
}
.tefour{
    @media (max-width:421px) {
      display: flex;
      justify-content: center;
      align-items: center;
       }
   button{
    border: none;
    outline: none;
    color: white;
    background-color: crimson;
    width: 242px;
    border-radius: 12px;
    cursor: pointer;
    padding: 14px;
   }
}